/*
Goal:
Super → system control
Ctrl  → editing/navigation
Alt   → application commands
*/

binds {
    Super+Shift+Slash { show-hotkey-overlay; }

    Super+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Super+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Super+Escape hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Super+Shift+Escape hotkey-overlay-title="Runs logout screen:  wlogout"{spawn "wlogout";}

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }


    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Super+O repeat=false { toggle-overview; }

    Super+Q repeat=false { close-window; }

    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-down; }
    Super+Up    { focus-window-up; }
    Super+Right { focus-column-right; }

    Super+H     { focus-column-left; }
    //Super+J     { focus-window-down; }
    //Super+K     { focus-window-up; }
    Super+L     { focus-column-right; }

    Super+Ctrl+Left  { move-column-left; }
    Super+Ctrl+Down  { move-window-down; }
    Super+Ctrl+Up    { move-window-up; }
    Super+Ctrl+Right { move-column-right; }
    
    //Super+Ctrl+H     { move-column-left; }
    //Super+Ctrl+J     { move-window-down; }
    //Super+Ctrl+K     { move-window-up; }
    //Super+Ctrl+L     { move-column-right; }


    Super+J     { focus-window-or-workspace-down; }
    Super+K     { focus-window-or-workspace-up; }
    Super+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Super+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }
    Super+Ctrl+Home { move-column-to-first; }
    Super+Ctrl+End  { move-column-to-last; }

    Super+Shift+Left  { focus-monitor-left; }
    Super+Shift+Down  { focus-monitor-down; }
    Super+Shift+Up    { focus-monitor-up; }
    Super+Shift+Right { focus-monitor-right; }
    
    Super+Shift+H     { focus-monitor-left; }
    Super+Shift+J     { focus-monitor-down; }
    Super+Shift+K     { focus-monitor-up; }
    Super+Shift+L     { focus-monitor-right; }

    Super+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Super+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Super+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Super+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Super+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Super+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Super+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Super+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Super+Shift+Ctrl+Left  { move-window-to-monitor-left; }

    // And you can also move a whole workspace to another monitor:
    // Super+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }

    Super+Page_Down      { focus-workspace-down; }
    Super+Page_Up        { focus-workspace-up; }
    //Super+U              { focus-workspace-down; }
    //Super+I              { focus-workspace-up; }
    Super+Ctrl+Page_Down { move-column-to-workspace-down; }
    Super+Ctrl+Page_Up   { move-column-to-workspace-up; }
    //Super+Ctrl+U         { move-column-to-workspace-down; }
    //Super+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Super+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Super+Shift+Page_Down { move-workspace-down; }
    Super+Shift+Page_Up   { move-workspace-up; }
    //Super+Shift+U         { move-workspace-down; }
    //Super+Shift+I         { move-workspace-up; }

    Super+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Super+Shift+WheelScrollDown      { focus-column-right; }
    Super+Shift+WheelScrollUp        { focus-column-left; }
    Super+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Super+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+Ctrl+1 { move-column-to-workspace 1; }
    Super+Ctrl+2 { move-column-to-workspace 2; }
    Super+Ctrl+3 { move-column-to-workspace 3; }
    Super+Ctrl+4 { move-column-to-workspace 4; }
    Super+Ctrl+5 { move-column-to-workspace 5; }
    Super+Ctrl+6 { move-column-to-workspace 6; }
    Super+Ctrl+7 { move-column-to-workspace 7; }
    Super+Ctrl+8 { move-column-to-workspace 8; }
    Super+Ctrl+9 { move-column-to-workspace 9; }


    Super+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Super+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Super+Period { expel-window-from-column; }

    Super+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Super+R { switch-preset-column-width-back; }
    Super+Shift+R { switch-preset-window-height; }
    Super+Ctrl+R { reset-window-height; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Super+Ctrl+F { expand-column-to-available-width; }

    Super+C { center-column; }

    // Center all fully visible columns on screen.
    Super+Ctrl+C { center-visible-columns; }

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }

    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    Super+Space       { toggle-window-floating; }
    Super+Shift+Space { switch-focus-between-floating-and-tiling; }

    Super+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Ctrl+Alt+Delete { quit; }

    Super+Ctrl+P { power-off-monitors; }
}