spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "$HOME/.local/share/resources/wallpapers/wallpaper4.jpg" "-m" "fill"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
