output "eDP-2" {

    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    //mode "2560x1440@165.003"
    mode "2560x1440@60.000"
    scale 1.5
    transform "normal"
    position x=1280 y=0
    //variable-refresh-rate
    focus-at-startup
    //background-color "#00008B"
    //backdrop-color "#000001"
    //hot-corners // I wont touch it for now
}
//------------------------------------------------------------------------------------------------------------
